:root {
  --sl-color-accent-low: #dbeafe;
  --sl-color-accent: #2563eb;
  --sl-color-accent-high: #1e3a8a;
}

[data-theme='dark'] {
  --sl-color-accent-low: #172554;
  --sl-color-accent: #60a5fa;
  --sl-color-accent-high: #dbeafe;
}

.sl-markdown-content table {
  display: table;
  width: 100%;
}
